<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local" value="authoring" />

<add key="tcfeed2" value="http://localhost:8111/httpAuth/app/nuget/feed/_Root/default/v2/" allowInsecureConnections="true" />
  </packageSources>
  <disabledPackageSources>
     <clear />
  </disabledPackageSources>
</configuration>
