<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local" value="authoring" />

    <add key="tcfeed" value="http://localhost:8111/httpAuth/app/nuget/v1/FeedService.svc/" allowInsecureConnections="true" />

  </packageSources>
  <disabledPackageSources>
     <clear />
  </disabledPackageSources>
</configuration>
